*{
    padding: 0;
    margin: 0;
    font-size: 60px;
    font-weight: 600;
    background-color: rgb(20, 20, 94);
    align-items: center;
    text-align: center;
}

.numeros{
    background-color:rgb(36, 35, 35);
    margin: 10px;
    padding: 10px 15px;
    border-radius: 10px;
}